certifi
chardet
six
beautifulsoup4
CacheControl
configobj
dogpile.cache
guessit
html5lib
imdbpie
knowit
Mako
markdown2
profilehooks
PyGithub
PyNMA
python-dateutil
requests
SQLAlchemy
stevedore
tornado<5
tornroutes
validators
vcrpy
gntp
pytvmaze
pytimeparse
jsonrpclib-pelix
bencode.py
rarfile
tmdbsimple
fake-useragent
git+https://github.com/Diaoul/babelfish.git@master#egg=babelfish
git+https://github.com/Anorov/cloudflare-scrape.git@master#egg=cfscrape
git+https://github.com/kurtmckee/feedparser.git@develop#egg=feedparser
git+https://github.com/joestump/python-oauth2.git@master#egg=oauth2
git+https://github.com/Diaoul/subliminal.git@master#egg=subliminal
